html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding-top: 60px;
	overflow-x: hidden;
	overflow-y: auto;
}

.flex-grow {
    flex: 1 0 auto;
}

.container-fluid {
	padding: 0px;
}

@media (orientation: portrait) {
	.full {
	  background-size: 200% auto;
	  background-position: top right;
	}
}


.chamada-principal {
	margin: 2rem 0;
}

.chamada-principal h1 {
	font-size: 32px;
	font-weight: bold;
}

.chamada-principal p {
	font-size: 24px;
}

/* Style para os botoes */

body .btn {
	white-space: normal;
}

body .btn-outline-secondary {
    background-color: #ffffff00;
    border-color: #ffffff;
	color: #FFF; 
}

body .btn-outline-secondary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #8f8f8f;
}

/* Styles para posicionamento nas paginas do site */
.container-principal {
	min-height: 500px;
	position: relative;
	background-repeat: no-repeat;
}

.vertical-center {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.full-image-background-principal-home, .full-image-background {
	position: relative;
	padding: 0;	
	margin: 0 auto;	
	background-size: cover;	
	overflow: hidden;
}

.full-image-background-principal-home {
	min-height: 500px;
}

/* Styles para o item de chamada principal da home*/

.container-principal-titulo, .container-principal-chamada {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

.container-principal-titulo {
	font-size: 56px;
	font-weight: bolder;
	letter-spacing: -0.20rem;
}

.container-principal-chamada {
	font-size: 20px;
}

/* Styles para os itens de soluções*/

.chamada-titulos-cinza, .chamada-titulos-azul, .texto-conteudo-cinza {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: -0.05rem;	
}

.chamada-titulos-cinza {
	color: #8f8f8f;
}

.texto-conteudo-cinza {
	color: #979696;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0;
}

.chamada-titulos-azul {
	color: #59bce9;
}

.titulo-solucao, .texto-solucao {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;	

}

.titulo-solucao {
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: -0.1rem;
}

.texto-solucao {
	font-size: 20px;
	letter-spacing: 0;
	text-align: justify;
}

/* styles for '...' */ 
.block-with-text {
	overflow: hidden;
	position: relative; 
	line-height: 1.5em;
	max-height: 7.5em; 
	text-align: justify;  
	margin-right: -1em;
	padding-right: 1em;
  }

  /* create the ... */
  .block-with-text:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
  }

  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: rgba(255, 255, 255, 0);
  }

/* Style for embedded video */

.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Style for forms and to send email */
.form-nome,
.form-email,
.form-telefone,
.form-data-visita {
	margin: 1rem 0;
}

.form-nome input,
.form-email input, 
.form-telefone input,
.form-data-visita input {
	width: 100%;
	display: block;
	font-size: 24px;
	padding: .5rem;
	border-radius: 8px;
	border: 1px solid #949494;
	box-sizing: border-box;
}

.form-button {
    padding: .5rem;
    vertical-align: middle;    
}

.email-fracasso,
.email-sucesso {
	display: block;
	color: #FFF;
	padding: .5rem;
}

.email-sucesso {
	background-color: green;
}

.email-fracasso {
	background-color: red;
}
