html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding-top: 60px;
	overflow-x: hidden;
	overflow-y: auto;
}

.container-fluid {
	padding: 0px;
}

@media (orientation: portrait) {
	.full {
	  background-size: 200% auto;
	  background-position: top right;
	}
}


.chamada-principal {
	margin: 2rem 0;
}

.chamada-principal h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.chamada-principal p {
	font-size: 2rem;
}


body .btn {
	white-space: normal;
}

body .btn-outline-secondary {
    background-color: #ffffff00;
    border-color: #ffffff;
	color: #FFF; 
}

body .btn-outline-secondary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #8f8f8f;
}

/* Styles para posicionamento nas paginas do site */
.container-principal {
	min-height: 780px;
	position: relative;
	background-repeat: no-repeat;
}

.vertical-center {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.full-image-background {
	position: relative;
	padding: 0;	
	margin: 0 auto;	
	background-size: cover;	
	overflow: hidden;
	min-height: 400px;
	max-height: 500px;
}

/* Styles para o item de chamada principal da home*/

.container-principal-titulo, .container-principal-chamada {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

.container-principal-titulo {
	font-size: 3.5rem;
	font-weight: bolder;
	letter-spacing: -0.20rem;
}

.container-principal-chamada {
	font-size: 1.0rem;
}

/* Styles para os itens de soluções*/

.chamada-solucoes-produtos-1, .chamada-solucoes-produtos-2, .texto-solucoes {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 2.0rem;
	font-weight: bolder;
	letter-spacing: -0.2rem;	
}

.chamada-solucoes-produtos-1 {
	color: #8f8f8f;
}

.texto-solucoes {
	color: #979696;
	font-size: 1.0rem;
	font-weight: normal;
	letter-spacing: 0;
}

.chamada-solucoes-produtos-2 {
	color: #59bce9;
}

.titulo-solucao, .texto-solucao {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;	

}

.titulo-solucao {
	font-size: 2.5rem;
	font-weight: bolder;
	letter-spacing: -0.1rem;
}

.texto-solucao {
	font-size: 0.9rem;
	letter-spacing: 0;
	text-align: justify;
}

/* styles for '...' */ 
.block-with-text {
	overflow: hidden;
	position: relative; 
	line-height: 1.5em;
	max-height: 7.5em; 
	text-align: justify;  
	margin-right: -1em;
	padding-right: 1em;
  }

  /* create the ... */
  .block-with-text:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
  }

  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: rgba(255, 255, 255, 0);
  }

/* Codigos para carrosel de imagens */

/*
body .btn-outline-secondary:hover, body .btn-outline-secondary:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #8f8f8f;
}

body .btn-outline-secondary:active, body .btn-outline-secondary:visited, body .btn-outline-secondary:active:focus, body .btn-outline-secondary:active:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #8f8f8f;
}*/