.main{
    display:table;
  }

.center{
	display:table-cell;
	vertical-align:middle;
}

.chamada-titulo-empresa, .chamada-descricao-empresa{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #8f8f8f;	
	letter-spacing: -0.05rem;	
}

.chamada-titulo-empresa {
	font-size: 3.5rem;
	font-weight: bolder;
}

.chamada-descricao-empresa {
	font-size: 1.3rem;
}

.thumbnail-projeto {
    max-width: 100%;
    height: auto;
}