.single-solucao-geral {
	display: flex;
}

.single-solucao-descricao {
	flex-basis: 80%;
}

.wrapper { float: left; clear: left; display: table; table-layout: fixed; }
.img-responsive { display: table-cell; max-width: 100%; }